@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    display: none;
}


@keyframes bounce-slow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .animate-bounce-slow {
    animation: bounce-slow 2s infinite; /* Adjust "2s" for slower or faster bounce */
  }
  
  .custom-bullet::marker {
    color: #4169E1 !important; /* Royal Blue */
  }
  
  @media print {
    body {
      margin: 0;
      padding: 0;
      -webkit-print-color-adjust: exact; /* Ensures colors render accurately */
    }
  
    .no-print {
      display: none; /* Hide elements like buttons or navigation */
    }
  }

  

/* Reset margin and padding for consistent layout */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, ul, ol, li,
figure, blockquote,
dl, dt, dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.resume-container {
  overflow: hidden; /* Prevent content overflow */
}

@media print {
  /* Reset for print */
  body, .resume-container {
    margin: 0;
    padding: 0;
  }

  .download-button {
    display: none; /* Hide the download button when printing */
  }
}

.resume-container img {
  max-width: 100%;
  height: auto;
  display: block;  /* Prevent unwanted bottom space from images */
}

.resume-preview {
  overflow: hidden; /* Prevent scrollbars in the preview */
}

